<!DOCTYPE html>
<html lang="en">
<head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
     <style>
        .nav-brand {
            color: white;
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
        }
        .nav-link {
            color: white;
            margin-left: 15px;
            text-decoration: none;
        }
        .nav-link:hover {
            text-decoration: underline;
        }
        </style>
    <title>Movie Matcher</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
                <a class="nav-brand" href="/">Movie Matcher </a>
                <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/dashboard">Dashboard</a>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            </div> 
        </div>
    </nav>
    {% block content %}{% endblock %}
    <p></p>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>