{% extends "common.html" %}
{% block content %}
 
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Welcome to Movie Matcher</h1>
                <p>Stop scrolling. Start Watching.</p>
                <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">New User?</h5>
                        <p class="card-text">Create an account to start your movie matcher journey.</p>
                        <a href="/register" class="btn btn-primary">Let's go</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Already a Member?</h5>
                        <p class="card-text">Your recommendations are waiting for you.</p>
                        <a href="/login" class="btn btn-success">Jump back in!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
    {% endblock %}