                <div class="col-md-6 mb-3">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h5 class="card-title">{{ movie.title }}</h5>
                                <span class="badge bg-warning mb-2">Rating: {{ "%.1f"|format(movie.rating or 0)
                                    }}/10</span>
                            </div>
                            <p class="card-text">
                                <strong>Year:</strong> {{ movie.year }} <br>
                                <strong> Genres:</strong>
                                {% for genre in movie.genres %}
                                <span class="badge bg-secondary">{{ genre }}</span>
                                {% endfor %} <br>
                                <strong> Runtime:</strong> {{ movie.runtime }} min <br>

                            </p>
                            <small class="text-muted"> {{ movie.votes }} votes</small>
                        </div>
                        <!-- Review Button -->

                        <div class="card-footer"
                            style="display: flex; justify-content: flex-end; gap: 4px ;background-color: transparent; border-top: none;">
                            <button onclick='writeReview({{movie.to_json() | tojson | safe}})'
                                class="btn btn-sm btn-primary mt-2">
                                Leave your Review
                            </button>
                            <button onclick='readReviews({{movie.to_json() | tojson | safe}},
                            {{movie.get_reviews() | tojson | safe}})' class="btn btn-sm btn-outline-primary mt-2">
                                Read Reviews
                            </button>

                        </div>

                    </div>
                </div>