<!DOCTYPE html>
<html lang="en">
<!-- Review Modal -->
<div class="modal fade" id="movieReviewsModal" tabindex="-1" aria-labelledby="movieReviewsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="movieReviewsModalLabel">Movie Reviews</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div id="reviewCards">
                    <!-- Review cards will be dynamically inserted here -->
                </div>
            </div>
        </div>
    </div>
</div>

</html>